.App {
  text-align: center;
}
.bg-connect{
  background-image: url(./assets/images/background.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
@media (max-width: 768px) {
.bg-connect{
  height: auto;

}   
 /* Ou toute autre valeur appropriée pour les écrans plus petits */
}

